/* base */
@font-face {
    font-family: Gohu;
    src: url(fonts/GohuFontuni14NerdFontMono-Regular.ttf);
}

:root {
    --text: #444444; /* 444444 */
    --bg: #eeeeee; /* #eeeeee */
    --fade: #d70087;
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: #eeeeee; /* 444444 */
        --bg: #444444; /* #eeeeee */
        --fade: #d70087;
    }
}

* {
    color: var(--text);
    font-family: Gohu;
    font-size: 24px;
    background-color: var(--bg);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper > * {
    padding: 20px;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 3% 25%;
}

input {
    width: 100%;
    border: none;
}

input:focus {
    outline: none;
}

.eather::marker {
    content: "󰨔 ";
}

.local::marker {
    content: "󰝤 ";
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--fade)
}

img {
    width: 100%;
    height: 100%;
}

/* grid */
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.column {
    flex: 1;
    padding: 10px;
}

/* deviders */
.box {
    border: 2px solid var(--bg);
}

.underline {
    border-bottom: 2px solid var(--text);
}

/* other */
#logo {
    display: block;
    width: 450px;
    height: 450px;
    border: 2px solid var(--text)
}

@media (max-width: 1024px) {
    #logo {
        display: none;
    }
}

#time {
    margin-bottom: 0;
}

#date {
    margin-top: 0;
}

#poem,
#author {
    display: flex;
    margin: 0 auto;
    min-height: 50px;
    text-align: center;
    justify-content: center;
    & p {
        margin: auto;
    }
    & em {
        margin: auto;
    }
}

#links {
    display: grid;
    align-items: center;
    margin: auto;
}

#weather {
    margin: auto;
}

.search {
    width: 100%;
}
